@model ApplicationTracker.Models.ApplicationIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Week in Preview</h1>

<p>
    <a asp-action="CreateApplication">Create New Application Log</a> |
    <a asp-action="Edit" asp-route-id="@Model.UpcomingApplications[0].ApplicantId">Edit Your Profile</a> |
    <a asp-action="Details" asp-route-id="@Model.UpcomingApplications[0].ApplicantId">View Your Profile Information</a>
</p>

<h2>Applications To Follow Up On</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.UpcomingApplications[0].Company.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpcomingApplications[0].PositionTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpcomingApplications[0].DateApplied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpcomingApplications[0].ApplicationStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpcomingApplications[0].ResumeUsed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpcomingApplications[0].CoverLetter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpcomingApplications[0].SalaryRequested)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpcomingApplications[0].RequistionNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpcomingApplications[0].JobUrl)
                </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CompanyId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NetworkId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicantId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobInfoId)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UpcomingApplications)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateApplied)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResumeUsed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoverLetter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalaryRequested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequistionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobUrl)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.CompanyId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetworkId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicantId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobInfoId)
                    </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ApplicationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationId }) |
                @Html.ActionLink("Create Interview", "CreateInterview", "Interviews",  new { id = item.ApplicationId })
            </td>
            </tr>
        }
    </tbody>
</table>

<h2>Interviews This Week</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingInterviews[0].Application.Company.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingInterviews[0].Application.PositionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingInterviews[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingInterviews[0].InterviewType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingInterviews[0].InterviewLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingInterviews[0].InterviewRound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingInterviews[0].ThankYouNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingInterviews[0].Notes)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UpcomingInterviews[0].ApplicationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingInterviews[0].HiringManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingInterviews[0].InterviewerId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UpcomingInterviews)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Company.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.PositionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewRound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThankYouNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.ApplicationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HiringManagerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterviewerId)
        </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", "Interviews", new { id = item.InterviewId }) |
                @Html.ActionLink("Details", "Details", "Interviews", new { id=item.InterviewId }) |
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
        }
    </tbody>
</table>

