@model IEnumerable<ApplicationTracker.Models.ApplicationIndexViewModel> 

@{
    ViewData["Title"] = "Index";
}

<h1>Week in Preview</h1>

<p>
    <a asp-action="CreateApplication">Create New Application Log</a> |
    <a asp-action="Edit">Edit Your Profile</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.PositionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.DateApplied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.ApplicationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.ResumeUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.CoverLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.SalaryRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.RequistionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.JobUrl)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.CompanyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetworkId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobInfoId)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.PositionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.DateApplied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.ApplicationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.ResumeUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.CoverLetter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.SalaryRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.RequistionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.JobUrl)
            </td>

            @*<td>
            @Html.DisplayFor(modelItem => item.CompanyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NetworkId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicantId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobInfoId)
        </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Application.ApplicationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.Application.ApplicationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Application.ApplicationId })
            </td>
        </tr>
}
    </tbody>
</table>
