@model IEnumerable<ApplicationTracker.Models.Interview>

@{
    ViewData["Title"] = "ListInterview";
}

<h1>List All Interviews</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Application.Company.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.PositionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewRound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.Company.OfficeLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.Company.Address.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.Company.Address.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.Company.Address.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.Company.Address.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThankYouNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.JobInformation.PositionSummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringManager.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringManager.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringManager.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringManager.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviewer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviewer.LastName)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Interviewer.Position)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Interviewer.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviewer.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interviewer.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.Company.CompanyNote.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.Company.CompanyNote.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.Company.CompanyNote.Culture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.Company.CompanyNote.RecentNews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application.Company.CompanyNote.Charity)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Company.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.PositionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewRound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Company.OfficeLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Company.Address.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Company.Address.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Company.Address.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Company.Address.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThankYouNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.JobInformation.PositionSummary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringManager.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringManager.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringManager.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringManager.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interviewer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interviewer.LastName)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Interviewer.Position)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Interviewer.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interviewer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interviewer.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Company.CompanyNote.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Company.CompanyNote.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Company.CompanyNote.Culture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Company.CompanyNote.RecentNews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Company.CompanyNote.Charity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
