@model IEnumerable<ApplicationTracker.Models.Interview>

@{
    ViewData["Title"] = "ListInterview";
}

<h1>ListInterview</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InterviewId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewRound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThankYouNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewRound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThankYouNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringManagerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewerId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
