@model IEnumerable<ApplicationTracker.Models.Assessment>

@{
    ViewData["Title"] = "Index";
}

<h1>Practice Assessments</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.AssessmentId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.AssessmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ApplicantId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.AssessmentId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ApplicantId)
            </td>*@
            <td>
                @Html.ActionLink("Start Quiz", "Quiz", new {  id=item.AssessmentId }) |
                @Html.ActionLink("Score Break Down", "Details", new {  id=item.AssessmentId }) 
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
